.kubeconfig
collections/
/collectionscollections/
terraform/proxmox/terraform.tfstate*
terraform/proxmox/terraform-pluging*
terraform/proxmox/terraform-plugin-proxmox.log
terraform/proxmox/terraform.tfstate
group_vars/all/backblaze.yml
terraform/proxmox/terraform.tfstate
plugins/modules/__pycache__
roles/freeipa_client/library/__pycache__/
.vault_password
