# network interfaces
auto lo
iface lo inet loopback

auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet dhcp

{% for e in interfaces.bridges.evpn %}
auto {{ e.name }}
iface {{ e.name }} inet static
          address {{ e.ip }}/{{ e.cidr }}
          bridge-ports {{ e.bridge_ports }}
          mtu {{ e.mtu }}
          hwaddress ether {{ e.anycast_mac }}
{% endfor %}

{% for c in interfaces.bridges.container_bridges %}
auto {{ c.name }}
iface {{ c.name }} inet static
          address {{ c.ip }}/{{ c.cidr }}
          bridge-ports none
          bridge-stp off
          bridge-fd 0
          mtu {{ c.mtu }}

{% endfor %}


{% for v in interfaces.bridges.vxlan_bridges %}
auto {{ v.name }}
iface {{ v.name }}
  vxlan-id {{ v.vxlan_id }}
  vxlan-local-tunnelip {{ interfaces.bridges.vxlan_host_settings.vxlan_local_tunnelip }} 
  bridge-learning {{ interfaces.bridges.vxlan_settings.bridge_arp_nd_suppress }}
  bridge-arp-nd-suppress {{ interfaces.bridges.vxlan_settings.bridge_arp_nd_suppress }}
  bridge-unicast-flood {{ interfaces.bridges.vxlan_settings.bridge_unicast_flood }}
  bridge-multicast-flood {{ interfaces.bridges.vxlan_settings.bridge_multicast_flood }}


{% endfor %}

{#

#}