auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet dhcp
  up tc qdisc add dev {{ ansible_default_ipv4.interface }} root cake diffserv4 bandwidth {{ iface_qos_max_limits | default("500mbit") }}
  up tc qdisc add dev wg0 root cake diffserv4 bandwidth {{ iface_qos_max_limits | default("500mbit") }}
  up tc qdisc add dev lxdbr0 root cake diffserv4 bandwidth {{ iface_qos_max_limits | default("500mbit") }}
  up ip link add name ifb_{{ ansible_default_ipv4.interface }} type ifb
  up tc qdisc del dev {{ ansible_default_ipv4.interface }} ingress
  up tc qdisc add dev {{ ansible_default_ipv4.interface }} handle ffff: ingress
  up tc qdisc del dev ifb_{{ ansible_default_ipv4.interface }} root
  up tc qdisc add dev ifb_{{ ansible_default_ipv4.interface }} root cake bandwidth {{ iface_qos_max_limits | default("500mbit") }} besteffort
  up ip link set ifb_{{ ansible_default_ipv4.interface }} up && tc filter add dev {{ ansible_default_ipv4.interface }} parent ffff: matchall action mirred egress redirect dev ifb_{{ ansible_default_ipv4.interface }}



{% for e in interfaces.bridges.evpn %}
auto {{ e.name }}
iface {{ e.name }} inet static
          address {{ e.ip }}/{{ e.cidr }}
          bridge-ports {{ e.bridge_ports }}
          mtu {{ e.mtu }}
          hwaddress ether {{ e.anycast_mac }}
          up tc qdisc add dev {{ e.name }} root cake diffserv4 bandwidth {{ iface_qos_max_limits | default("500mbit") }}
{% endfor %}

{% for c in interfaces.bridges.container_bridges %}
auto {{ c.name }}
iface {{ c.name }} inet static
          address {{ c.ip }}/{{ c.cidr }}
          bridge-ports none
          bridge_stp off
          bridge-fd 0
          mtu {{ c.mtu }}

{% endfor %}


{% for v in interfaces.bridges.vxlan_bridges %}
auto {{ v.name }}
iface {{ v.name }}
  vxlan-id {{ v.vxlan_id }}
  vxlan-local-tunnelip {{ interfaces.bridges.vxlan_host_settings.vxlan_local_tunnelip }} 
  bridge-learning {{ interfaces.bridges.vxlan_settings.bridge_arp_nd_suppress }}
  bridge-arp-nd-suppress {{ interfaces.bridges.vxlan_settings.bridge_arp_nd_suppress }}
  bridge-unicast-flood {{ interfaces.bridges.vxlan_settings.bridge_unicast_flood }}
  bridge-multicast-flood {{ interfaces.bridges.vxlan_settings.bridge_multicast_flood }}


{% endfor %}



{#

#}