# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).


# Set this one last, so that cloud-init or user can
# override defaults.

source /etc/network/interfaces.d/*