frr defaults traditional
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
interface lo
 ip address {{ bgp.loopback }}/32
!
router bgp {{ bgp.bgp_as | default('6') }}
 bgp router-id {{ bgp.loopback | default(ansible_default_ipv4.address) }}
no bgp ebgp-requires-policy
 neighbor 10.0.0.1 remote-as external
 neighbor 10.0.0.1 bfd
 neighbor 10.0.0.1 timers 1 3
 neighbor 10.0.0.1 capability extended-nexthop
 !
 address-family ipv4 unicast
  network {{ bgp.loopback }}/32
  neighbor 10.0.0.1 soft-reconfiguration inbound
 exit-address-family
!
line vty
!
bfd
 peer 10.0.0.1 interface eth0
  no shutdown
 !
!
end