---
network:
  version: {{ netplan_configuration['network']['version']|default('2') }}
{% if netplan_configuration['network']['ethernets'] is defined %}
  ethernets:
{{ netplan_configuration['network']['ethernets']|to_nice_yaml|indent(4, true) }}
{% endif %}