teleport:
    nodename: "{{ inventory_hostname }}"
    data_dir: /var/lib/teleport
    storage:
      path: /var/lib/teleport/backend
      type: dir
    advertise_ip: "{{ zt_ip }}"
    log:
        output: stderr
        severity: ERROR
    auth_servers:
      - teleport.wizznet.co.uk:3025
    auth_token: ""
auth_service:
    enabled: no
ssh_service:
    enabled: yes
    labels:
        role: master
        type: authenicator
    commands:
    - name: arch
      command: ['/bin/uname', '-p']
      period: 1h0m0s
proxy_service:
    enabled: yes